@tailwind base;
@tailwind components;
@tailwind utilities;

.yoga-photo{
  animation:2s inicio 1;
}
.icon{
  filter: invert(95%) sepia(51%) saturate(6897%) hue-rotate(290deg) brightness(87%) contrast(105%);
}

@keyframes inicio {
  0% {
   opacity:0;
  }
  100% {
    opacity:1
 
  }
}


.flower1{
  animation:2s flower1 1;
  
}
.flower2{
  animation:2s flower2 1;
  
}
.flower3{
  animation:2s flower3 1;
  
}
.flower4{
  animation:2s flower4 1;
 
}
.rounded-text{
  animation:2s rounded 1;
 
}
.in-out{
  animation:2s inout 1;
 
}
.button-icon{
  animation:2.5s button-icon infinite;
 
}
.col-1,.col-2,.col-3,.col-4,.col-5{
  width:100%;
  height:100%;
  animation:1s col-1 1;
}


@keyframes col-1 {
  0% {
    transform-origin:top;
    width:0%;
    height:100%;
  }
  100% {
    width:100%;
    height:100%;
  }
}


@keyframes button-icon {
  0% {
    
    transform: scale(1);
    
  }
  50%{
    transform: scale(1.3);
  }
  100% {
    
    transform: scale(1);
 
  }
}
@keyframes inout {
  0% {
    opacity:0;
    transform: scale(0);
    
  }
  100% {
    opacity:1;
    transform: scale(1);
 
  }
}
@keyframes rounded {
  0% {
    opacity:0;
    transform: translateY(40px);
    
  }
  100% {
    opacity:1;
    transform: translateY(0px);
 
  }
}
@keyframes flower1 {
  0% {
    transform:rotate(0deg);
    
  }
  100% {
    transform:rotate(25deg) translateX(40px) translateY(-20px);
   
 
  }
}
@keyframes flower2 {
  0% {
    transform:rotate(0deg);
    
  }
  100% {
    transform:rotate(50deg) translateX(70px) translateY(-50px);
   
 
  }
}
@keyframes flower3 {
  0% {
    transform:rotate(0deg);
    
  }
  100% {
    transform:rotate(-25deg) translateX(-40px) translateY(-20px);

 
  }
}
@keyframes flower4 {
  0% {
    transform:rotate(0deg);
    
  }
  100% {
    transform:rotate(-55deg) translateX(-70px) translateY(-50px);
   
 
  }
}

.in-out{
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: inout;
  animation-range:entry 40% cover 60%;
  animation-fill-mode:both;
}
.rounded-text{
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: rounded;
  animation-range:entry 40% cover 60%;
  animation-fill-mode:both;
}
.img-flower1{
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: flower1;
  animation-range:entry 40% cover 60%;
  animation-fill-mode:both;
}
.img-flower2{
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: flower2;
  animation-range:entry 40% cover 60%;
  animation-fill-mode:both;
}
.img-flower3{
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: flower3;
  animation-range:entry 40% cover 60%;
  animation-fill-mode:both;
}
.img-flower4{
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: flower4;
  animation-range:entry 40% cover 60%;
  animation-fill-mode:both;
}


